{% extends 'base.html' %}

{% load dice %} {# Импорт рандомайзера для кубиков #}

{% block title %}{% endblock %}

{% block body %}
    <header class="mb-4 bg-white pb-3">
        <div class="container p-0 p-sm-auto" style="max-width: 60rem;">
            {% include 'inc/_header.html' %}
            <div class="container p-sm-0">
                {% block x %}
                    <div class="border-top border-bottom py-3">
                        <div class="row justify-content-center justify-content-sm-between align-items-center">
                            <div class="text-primary col-auto"> {# Блок с кубиками #}
                                <h1>
                                    <i id="dice2" class="bi-dice-{% dice_roll %}"></i>
                                    <i id="dice1" class="bi-dice-{% dice_roll %}"></i>
                                    {% block current_page %}{% endblock %}
                                </h1>
                            </div>
                            {% if perms.games.change_game %}
                                <div class="col-auto">
                                    {% block permission %}{% endblock %} {# Блок с правами доступа #}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>
    <div class="container p-0 p-sm-auto" style="max-width: 60rem;">
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'inc/_footer.html' %}
        </footer>
    </div>
{% endblock %}