{% extends 'main.html' %}

{% load static %}

{% block title %}
    {% block current_page %}Главная{% endblock %}
{% endblock %}

{% block content %}
    <div class="container p-0 border-start border-end border-5 border-warning">
        <div id="storeCarousel" class="carousel slide d-flex" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'store/image/start_slide.jpg' %}" alt="Первый слайд">
                    <div class="container">
                        <div class="carousel-caption text-md-start mb-2 mb-sm-4 mb-lg-5">
                            {% if user.is_anonymous %}
                                <h1>Вместе веселей!</h1>
                                <p>Присоединяйтесь к нашему сообществу, чтобы получать удовольствие от игр вместе</p>
                                <a class="btn btn-warning fw-bold"
                                   href="{% url 'auth_registration' %}">Присоединиться</a>
                            {% else %}
                                <h1>Вытянем из зарослей!</h1>
                                <p>Пишите нам, если трудности застали врасплох</p>
                                <a class="btn btn-warning fw-bold" href="{% url 'contact_feedback' %}">Написать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'store/image/mid_slide.jpg' %}" alt="Второй слайд">
                    <div class="container">
                        <div class="carousel-caption mb-2 mb-sm-4 mb-lg-5">
                            <h1>Весточки с полей!</h1>
                            <p>Подпишитесь на рассылку, чтобы мимолетом не пропустить самое интересное</p>
                            <a class="btn btn-warning fw-bold" href="{% url 'contact_newsletter' %}">Подписаться</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'store/image/end_slide.jpg' %}" alt="Третий слайд">
                    <div class="container">
                        <div class="carousel-caption text-md-end mb-2 mb-sm-4 mb-lg-5">
                            <h1>Всем достанется ролей!</h1>
                            <p>Подберите приключение по душе для игры в одиночку или в компании друзей</p>
                            <a class="btn btn-warning fw-bold" href="{% url 'game_list' %}">Подобрать</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#storeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#storeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
